.navbar{
    padding:5px;
    border-radius: 20px;
    height: 70px;
    width: auto;
    max-width: 940px;
    background-color: #ffffff;
    color: #353B38;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}