body{
    background-color:#2f825b;
    font-family: sans-serif; 
    text-align: center;
    margin-top: 50px;
}
h1 {
    color:#FFFFFF;
}

h2 {
    color: #FFFFFF;
}

.categorie {
    margin-bottom: 40px;
}

.position-elements{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.vitesse {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 ;
    width: 300px;
    text-align:left;
}


.chiffre-vitesse {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.batterie {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0;
    width: 300px;
    text-align:left;
}
.chiffre-batterie1 {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.chiffre-batterie2 {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.chiffre-courant1 {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.chiffre-courant2 {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.chiffre-temperature1 {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.chiffre-temperature2 {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}


.CM {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0;
    width: 300px;
    text-align:left;
}

.chiffre-temperatureCM {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.chiffre-courantCM {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.chiffre-puissanceCM {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.PS {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 ;
    width: 300px;
    text-align:left;
}

.chiffre-temperaturePS {
    font-size: 24px;
    font-weight: bold;
    color: #2f825b;
    text-align:left;
}

.unite {
    font-size: 16px;
    color: #666;
    text-align:left;
}










.carte-lien {
    text-decoration: none;
    color: inherit;
}

.plein-ecran-fond {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.plein-ecran-fond:target {
    display: flex;
}

.fond-fermer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* Le grand carré blanc au centre de l'écran */
.boite-graphique-large {
    background-color: #2f825b;
    width: 90vw;            /* Occupe 85% de la largeur de l'écran */
    height: 90vh;           /* Occupe 80% de la hauteur de l'écran */
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bouton-fermer {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.bouton-fermer:hover {
    color: #0050b3;
}

.instruction-fermer {
    font-size: 14px;
    color: #888;
    margin-top: 15px;
}