
.rectangleTime{
    justify-content: space-evenly;
}
.rectangleTimeTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: bold;

}

.rectangleTimeValue{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
